
Navigation/MyNavigationDrawer/kotlin/.idea/

RecyclerView/MyRecyclerView/kotlin/.idea/

Navigation/MyTabLayout/kotlin/.idea/

Navigation/MyNavigationDrawer/java/.idea/

Custom View/MyCustomView/kotlin/.idea/

Custom View/MyCustomView/java/.idea/

Navigation/MyActionBar/kotlin/.idea/

RecyclerView/MyRecyclerView/java/.idea/
